body {
    font-family: serif;
}
.navbar-custom { 
    background-color: f5d9d5; 
}
#products {
    width: 100%;
    height: auto;
    /* display: grid; */
    /* grid-gap: 50px;
    grid-template-columns: auto auto auto; */
    display: flex;
    flex-wrap: wrap;
    /* padding-right: auto; */
    /* background-color: aquamarine; */
    /* padding-left: 50px; */
    font-size: 1.3em;
    font-weight: 600;
}

.card {
    /* margin-left: 20px; */
    /* margin-left:auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px; */
    margin: 20px auto;
}