body {
    font-family: serif;
}
.navbar-custom { 
    background-color: f5d9d5; 
}
#products {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    font-size: 1.3em;
    font-weight: 600;
}

.card {
    margin: 20px auto;
}