body {
    background: #f5d9d5;
    font-family: serif;
}
.navbar-custom { 
    background-color: f5d9d5; 
}
#products {
    width: 100%;
    height: auto;
    display: grid;
    grid-gap: 50px;
    grid-template-columns: auto auto auto;
    padding-right: auto;
    padding-left: 50px;
    font-size: 1.3em;
    font-weight: 600;
}